body {
  background-color: #FEFEFE;
}

header {
  display: flex;

  width: 49vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-left: 44vw;

  font-size: 3vw;

  justify-content: space-around;
}

.startposter {
  display: flex;

  width: 58vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-left: 35vw;

  font-size: 3vw;

  justify-content: space-around;
}

a {
  text-decoration: none;

  color: #000000;
}

.webposter a {
  color: blueviolet;
}

.poster a {
  color: chocolate;
}

.book a {
  color: blue;
}

.modo a {
  color: darkorchid;
}

.one {
  position: relative;
  z-index: 2;

  width: 85vw;
  margin-left: 7vw;

  box-shadow: 1px 1px 50px -16px;
}

.hallo p {
  position: relative;
  z-index: 4;

  width: 27vw;
  margin-top: -40vw;
  margin-left: 17vw;
}

h2 {
  position: relative;
  z-index: 3;

  margin-top: -57vw;
  margin-left: 28vw;

  font-size: 9vw;
}

h1 {
  position: relative;
  z-index: 4;

  width: 45vw;
  margin-top: 42vw;
  margin-left: 7vw;

  font-size: 12vw;
  line-height: 10vw;
}

.box {
  position: relative;
  z-index: 1;

  width: 37vw;
  height: 59vw;
  margin-top: 2vw;
  margin-left: 55vw;

  opacity: .2;
  background-color: #C4C4C4;
}

#first {
  width: 20vw;
  height: 0.3vw;
  margin-top: -24vw;
  margin-left: 53vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second {
  position: relative;
  z-index: 3;

  width: 20vw;
  height: 0.3vw;
  margin-top: -16vw;
  margin-left: 25vw;

  border: none;
  background-color: black;
}

.two {
  position: relative;
  z-index: 2;

  width: 32vw;
  margin-top: 15vw;
  margin-left: 10vw;
}

h3 {
  position: relative;
  z-index: 2;

  margin-top: 3vw;
  margin-left: 9vw;

  font-size: 6vw;
}

.three {
  position: relative;
  z-index: 1;

  width: 61vw;
  margin-top: -17vw;
  margin-left: 39vw;

  box-shadow: 1px 1px 50px -16px;
}

p {
  width: 28vw;
  margin-top: -31vw;
  margin-left: 9vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2vw;
  font-weight: 300;
  line-height: 2.4vw;
}

.four {
  position: relative;
  z-index: 3;

  width: 32vw;
  margin-top: -14vw;
  margin-left: 46vw;
}


#second1 {
  position: relative;
  z-index: 3;

  width: 22vw;
  height: 0.2vw;
  margin-top: 33vw;
  margin-left: 78vw;

  border: none;
  background-color: black;
}

.poster h3 {
  position: relative;
  z-index: 4;

  margin-top: -24vw;
  margin-left: 62vw;
}

.five {
  position: relative;
  z-index: 2;

  width: 45vw;
  margin-top: -11vw;
  margin-left: 10vw;

  box-shadow: 1px 1px 40px 1px;
}

.poster p {
  width: 35vw;
  margin-top: -38vw;
  margin-left: 62vw;
}

.boxtwo {
  position: relative;
  z-index: 1;

  width: 58vw;
  height: 45vw;
  margin-top: -3vw;
  margin-left: 10vw;

  opacity: .2;
  background-color: #C4C4C4;
}

#first1 {
  width: 20vw;
  height: 0.3vw;
  margin-top: 17vw;
  margin-left: 52vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second2 {
  position: relative;
  z-index: 3;

  width: 22vw;
  height: 0.2vw;
  margin-top: -23vw;
  margin-left: 18vw;

  border: none;
  background-color: black;
}

.sixs {
  position: relative;
  z-index: 2;

  width: 36vw;
  margin-top: -18vw;
  margin-left: 10vw;
}

.book h3 {
  position: relative;
  z-index: 2;

  margin-top: 4vw;
  margin-left: 10vw;

  font-size: 6vw;
}

.seven {
  width: 62vw;
  margin-top: -8vw;
  margin-left: 38vw;

  box-shadow: 1px 1px 50px -16px;
}

.book p {
  width: 26vw;
}

#first2 {
  width: 20vw;
  height: 0.3vw;
  margin-top: 17vw;
  margin-left: 0vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second3 {
  position: relative;
  z-index: 3;

  width: 22vw;
  height: 0.3vw;
  margin-top: -23vw;
  margin-left: 68vw;

  border: none;
  background-color: black;
}

.nine {
  position: relative;
  z-index: 1;

  width: 46vw;
  margin-top: -12vw;

  box-shadow: 1px 1px 50px -16px;
}

.eight {
  position: relative;
  z-index: 2;

  width: 37vw;
  margin-top: 20vw;
  margin-left: 34vw;
}

.modo h3 {
  position: relative;
  z-index: 2;

  margin-top: 4vw;
  margin-left: 60vw;

  font-size: 6vw;
}

.modo p {
  width: 36vw;
  margin-top: -45vw;
  margin-left: 60vw;
}

.end {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 21vw;
  margin-top: -2vw;

  opacity: .2;
  background-color: #C4C4C4;
}

.ten {
  position: relative;
  z-index: 2;

  width: 19vw;
  margin-top: 42vw;
  margin-left: 76vw;
}

footer h4 {
  position: relative;
  z-index: 3;

  margin-top: -10vw;
  margin-left: 81vw;

  font-size: 3vw;
}

h5 {
  margin-top: -15vw;
  margin-left: 10vw;

  font-size: 3vw;
}

h6 {
  margin-top: 4vw;
  margin-left: 10vw;
}

.eleven {
  position: relative;
  z-index: 2;

  width: 85vw;
  margin-left: 7vw;

  box-shadow: 1px 1px 50px -16px;
}

.posterhello h2 {
  margin-top: -43vw;
  margin-left: 17vw;
}

.posterhello p {
  position: relative;
  z-index: 3;

  margin-top: 9vw;
  margin-left: 61vw;
}

.twelve {
  position: relative;
  z-index: 1;

  width: 40vw;
  margin-top: 25vw;
  margin-left: 25vw;
}

#second4 {
  position: relative;
  z-index: 3;

  width: 22vw;
  height: 0.2vw;
  margin-top: -23vw;
  margin-left: 44vw;

  border: none;
  background-color: black;
}

.search h3 {
  margin-top: 4vw;
  margin-left: 33vw;
}

.search p {
  width: 45vw;
  margin-top: 9vw;
  margin-left: 33vw;
}

#first4 {
  width: 20vw;
  height: 0.2vw;
  margin-top: 18vw;
  margin-left: 80vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.thirteen {
  position: relative;
  z-index: 3;

  width: 100vw;
  margin-top: -9vw;
}

.figure {
  position: relative;
  z-index: 2;

  width: 50vw;
  height: 104vw;
  margin-top: -60vw;
}

#first5 {
  width: 20vw;
  height: 0.2vw;
  margin-top: -28vw;
  margin-left: 21vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.fourteen {
  width: 42vw;
  margin-top: 19vw;
  margin-left: 42vw;
}

#second5 {
  position: relative;
  z-index: 3;

  width: 22vw;
  height: 0.2vw;
  margin-top: -30vw;
  margin-left: 58vw;

  border: none;
  background-color: black;
}

.final h3 {
  width: 20vw;
  margin-top: 2vw;
  margin-left: 31vw;
}

.final p {
  width: 49vw;
  margin-top: 9vw;
  margin-left: 31vw;
}

.fifteen {
  position: relative;
  z-index: 3;

  width: 99vw;
  margin-top: -58vw;
}

.figure2 {
  position: relative;
  z-index: 2;

  width: 28vw;
  margin-top: -19vw;
  margin-left: 72vw;
}

#first6 {
  width: 20vw;
  height: 0.2vw;
  margin-top: 13vw;
  margin-left: 12vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.sixteen {
  position: relative;
  z-index: 2;

  width: 19vw;
  margin-top: 42vw;
  margin-left: 76vw;
}

.endposter {
  margin-top: -33vw;
}

.eighteen {
  position: relative;
  z-index: 2;

  width: 85vw;
  margin-left: 7vw;

  box-shadow: 1px 1px 50px -16px;
}

.jobposter h2 {
  margin-top: -21vw;
}

.jobposter p {
  position: relative;
  z-index: 2;

  width: 35vw;
  margin-top: -37vw;
  margin-left: 59vw;
}

.nineteen {
  width: 33vw;
  margin-top: 61vw;
  margin-left: 60vw;
}

#second6 {
  position: relative;
  z-index: 3;

  width: 22vw;
  height: 0.2vw;
  margin-top: -21vw;
  margin-left: 69vw;

  border: none;
  background-color: black;
}

.graphic h3 {
  margin-left: 44vw;
}

.graphic {
  margin-left: -12vw;
}
