body {
  background-color: #FEFEFE;
}
h1, h2, h3 {
  font-family: 'Georgia';
  font-weight: bold;
}
header {
  position: fixed;
  z-index: 6;

  display: flex;

  width: 100%;
  margin: 2vw 0;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw;
  font-weight: 300;

  align-items: center;
  justify-content: space-between;

}

.modo-2 {
  display: none;
}

.poster-2 {
  display: none;
}

.poster-3 {
  display: none;
}

.book-2 {
  display: none;
}
.class {
  position: fixed;

  display: flex;

  width: 100%;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw;
  font-weight: 300;

  justify-content: center;
}

.class a {
  padding: 0 2vw;

  text-decoration: none;

  color: #000000;
}

header a {
  padding: 0 2vw;

  text-decoration: none;

  color: #000000;
}

.webposter a {
  color: blueviolet;
}

.poster a {
  color: chocolate;
}

.book a {
  color: blue;
}

.modo a {
  color: darkorchid;
}

.one {
  position: relative;
  z-index: 2;

  width: 85vw;
  margin-top: 6vw;
  margin-left: 7vw;

  box-shadow: 1px 1px 50px -16px;
}

.hello p {
    position: relative;
    z-index: 4;

    width: 27vw;
    margin-top: -39vw;
    margin-left: 15vw;
}

.link, .link2, .link3, .link4
 {
  margin-top: 4vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2vw;
  font-weight: bold;
}

.link {
  margin-left: 9vw;

  color: blueviolet;
}

.link2 {
  margin-left: 62vw;

  color: chocolate;
}

.link3 {
  margin-left: 9vw;

  color: blue;
}

.link4 {
  margin-left: 60vw;

}

h2 {
  position: relative;
  z-index: 3;

  margin-top: -57vw;
  margin-left: 21vw;

  font-size: 9vw;
}

h1 {
  position: relative;
  z-index: 4;

  width: 45vw;
  margin-top: 42vw;
  margin-left: 7vw;

  font-size: 12vw;
  line-height: 10vw;
}

.box {
  position: relative;
  z-index: 1;

  width: 37vw;
  height: 59vw;
  margin-top: 2vw;
  margin-left: 55vw;

  opacity: .2;
  background-color: #C4C4C4;
}

#first, #first2, #first4, #first5, #first6,
#first7, #first8, #first9, #first10,
#first11, #first12, #first13, #first14, #first15, #first16  {
  width: 15vw;
  height: 0.3vw;
}

#second, #second1, #second2, #second3, #second4, #second5, #second6,
#second7, #second8, #second9, #second10, #second11, #second13, #second14, #second15, #second16, #second17, #second18 {
  width: 15vw;
  height: 0.3vw;
}

#first {
  margin-top: 44vw;
  margin-left: 53vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second {
  position: relative;
  z-index: 3;

  margin-top: -16vw;
  margin-left: 28vw;

  border: none;
  background-color: black;
}

.two {
  position: relative;
  z-index: 2;

  width: 32vw;
  margin-top: 20vw;
  margin-left: 12.4vw;
}

h3 {
  position: relative;
  z-index: 2;

  margin-top: 3vw;
  margin-left: 9vw;

  font-size: 6vw;
}

.three {
  position: relative;
  z-index: 1;

  width: 61vw;
  margin-top: -17vw;
  margin-left: 39vw;

  box-shadow: 1px 1px 50px -16px;
}

p {
  width: 28vw;
  margin-top: -33vw;
  margin-left: 9vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6vw;
  font-weight: 300;
  line-height: 2.3vw;
}

.four {
  position: relative;
  z-index: 3;

  width: 32vw;
  margin-top: -14vw;
  margin-left: 46vw;
}


#second1 {
  position: relative;
  z-index: 3;

  margin-top: 33vw;
  margin-left: 82vw;

  border: none;
  background-color: black;
}

.poster h3 {
  position: relative;
  z-index: 4;

  margin-top: -24vw;
  margin-left: 62vw;
}

.five {
  position: relative;
  z-index: 2;

  width: 45vw;
  margin-top: -11vw;
  margin-left: 10vw;

  box-shadow: 1px 1px 40px 1px;
}

.poster p {
  width: 35vw;
  margin-top: -40vw;
  margin-left: 62vw;
}

.boxtwo {
  position: relative;
  z-index: 1;

  width: 58vw;
  height: 45vw;
  margin-top: -3vw;
  margin-left: 10vw;

  opacity: .2;
  background-color: #C4C4C4;
}

#first1 {
  margin-top: 17vw;
  margin-left: 52vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second2 {
  position: relative;
  z-index: 3;

  margin-top: -23vw;
  margin-left: 23vw;

  border: none;
  background-color: black;
}

.sixs {
  position: relative;
  z-index: 3;

  width: 36vw;
  margin-top: -18vw;
  margin-left: 10vw;
}

.book h3 {
  position: relative;
  z-index: 4;

  margin-top: 3vw;
  margin-left: 10vw;

  font-size: 6vw;
}

.seven {
  position: relative;
  z-index: 2;

  width: 62vw;
  margin-top: -5vw;
  margin-left: 38vw;

  box-shadow: 1px 1px 50px -16px;
}

.box4 {
  position: relative;
  z-index: 1;

  width: 34vw;
  margin-top: -9vw;
  margin-left: 38vw;
}

.book p {
  width: 26vw;
  margin-top: -36vw;
}

#first2 {
  margin-top: 17vw;
  margin-left: 2vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second3 {
  position: relative;
  z-index: 3;

  margin-top: -23vw;
  margin-left: 71vw;

  border: none;
  background-color: black;
}

.nine {
  position: relative;
  z-index: 1;

  width: 50vw;
  margin-top: -12vw;

  box-shadow: 1px 1px 50px -16px;
}

.eight {
  position: relative;
  z-index: 2;

  width: 37vw;
  margin-top: -32vw;
  margin-left: 34vw;
}

.modo h3 {
  position: relative;
  z-index: 2;

  margin-top: 4vw;
  margin-left: 60vw;

  font-size: 6vw;
}

.modo p {
  width: 36vw;
  margin-top: -52vw;
  margin-left: 60vw;
}

.end {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 21vw;
  margin-top: 44vw;

  opacity: .2;
  background-color: #C4C4C4;
}

.ten {
  position: relative;
  z-index: 2;

  width: 19vw;
  margin-top: 42vw;
  margin-left: 76vw;
}

footer h4 {
  position: relative;
  z-index: 3;

  margin-top: -10vw;
  margin-left: 81vw;

  font-size: 3vw;
}

h5 {
  margin-top: -17vw;
  margin-left: 5vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7vw;
  font-weight: bold;
  line-height: 2.4vw;
}

h6 {
  position: absolute;

  margin-top: 1vw;
  margin-left: 5vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
}

#author {
  position: absolute;

  margin-top: -4.6vw;
  margin-left: 50vw;

}

#curate {
  position: absolute;

  margin-top: -4.3vw;
  margin-left: 81vw;
}

#namecurate {
  margin-top: -1.7vw;
  margin-left: 81vw;

  line-height: 2vw;
}

#name {
  margin-top: -2vw;
  margin-left: 50vw;

  line-height: 2vw;
}


.logo {
  position: absolute;
      z-index: 2;

      width: 9vw;
      margin-top: 7.6vw;
      margin-left: 49.5vw;
}

#link5 {
  margin-top: 5vw;
  margin-left: 50vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.8vw;
  font-weight: 300;
}


.eleven {
  position: relative;
  z-index: 2;

  width: 85vw;
  margin-top: 6vw;
  margin-left: 7vw;

  box-shadow: 1px 1px 50px -16px;
}

.posterhello h2 {
  margin-top: -43vw;
  margin-left: 17vw;
}

.posterhello p {
  position: relative;
  z-index: 3;

  margin-top: 9vw;
  margin-left: 61vw;
}

.twelve {
  position: relative;
  z-index: 1;

  width: 35vw;
  margin-top: 31vw;
  margin-left: 16vw;
}

#second4 {
  position: relative;
  z-index: 3;

  margin-top: -23vw;
  margin-left: 47vw;

  border: none;
  background-color: black;
}

.search h3 {
  margin-top: 4vw;
  margin-left: 33vw;
}

.search p {
  width: 45vw;
  margin-top: 9vw;
  margin-left: 33vw;
}

#first4 {
  margin-top: 18vw;
  margin-left: 80vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.thirteen {
  position: relative;
  z-index: 3;

  width: 100vw;
  margin-top: -9vw;
}

.figure {
  position: relative;
  z-index: 2;

  width: 46vw;
  height: 104vw;
  margin-top: -60.4vw;
}

#first5 {
  margin-top: -28vw;
  margin-left: 24vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.fourteen {
  width: 42vw;
  margin-top: 4vw;
  margin-left: 39vw;
}

#second5 {
  position: relative;
  z-index: 3;

  margin-top: -25vw;
  margin-left: 56vw;

  border: none;
  background-color: black;
}

.final h3 {
  width: 20vw;
  margin-top: 4vw;
  margin-left: 31vw;
}

.final p {
  width: 49vw;
  margin-top: 9vw;
  margin-left: 31vw;
}

.fifteen {
  position: relative;
  z-index: 3;

  width: 99vw;
  margin-top: -51vw;
}

.figure2 {
  position: relative;
  z-index: 2;

  width: 28vw;
  margin-top: -19vw;
  margin-left: 72vw;
}

#first6 {
  margin-top: 5vw;
  margin-left: 77vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.sixteen {
  position: relative;
  z-index: 2;

  width: 19vw;
  margin-top: 42vw;
  margin-left: 76vw;
}

.endposter {
  margin-top: -33vw;
}

.eighteen {
  position: relative;
  z-index: 2;

  width: 85vw;
  margin-top: 6vw;
  margin-left: 7vw;

  box-shadow: 1px 1px 50px -16px;
}

.jobposter h2 {
  margin-top: -26vw;
  margin-left: 19vw;
}

.jobposter p {
  position: relative;
  z-index: 2;

  width: 34vw;
  margin-top: -37vw;
  margin-left: 59vw;
}

.nineteen {
  width: 37vw;
  margin-top: 54vw;
  margin-left: 60vw;

  transform: rotate(-31deg);
}

#second6 {
  position: relative;
  z-index: 3;

  margin-top: -21vw;
  margin-left: 80vw;

  border: none;
  background-color: black;
}

.graphic h3 {
  margin-top: 3vw;
  margin-left: 44vw;
}

.graphic {
  margin-left: -16vw;
}

.graphic p {
  width: 46vw;
  margin-top: 10vw;
  margin-left: 44vw;
}

.graph1, .graph2, .graph3,
.graph4, .graph5, .graph6,
.graph7, .graph8 {
  box-shadow: 1px 1px 50px -16px;
}

.graph1 {
  position: relative;
  z-index: 2;

  width: 40vw;
  margin-top: 7vw;
}

.graph2 {
  position: relative;
  z-index: 1;

  width: 53vw;
  margin-top: -67vw;
  margin-left: 47vw;
}

.graph4 {
  position: relative;
  z-index: 2;

  width: 24vw;
  margin-top: -37vw;
}


.graph3 {
  position: relative;
  z-index: 3;

  width: 48vw;
  margin-top: -3vw;
  margin-left: 30vw;
}

.graph5 {
  width: 40vw;
  margin-top: -6vw;
  margin-left: 60vw;
}

.graph6 {
  position: relative;
  z-index: 3;

  width: 34vw;
  margin-top: -39.3vw;
  margin-left: 30vw;
}

.graph7 {
  position: relative;
  z-index: 2;

  width: 24vw;
  margin-top: -29vw;
}

.graph8 {
  position: relative;
  z-index: 2;

  width: 54vw;
  height: 36vw;
  margin-top: -40vw;
  margin-left: 46vw;
}

.box3 {
  position: relative;
  z-index: 1;

  width: 40vw;
  margin-top: -28vw;
  margin-left: 38vw;
}

.no {
  margin-top: 10vw;
}

#first7 {
  margin-top: -41vw;
  margin-left: 87vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.box4 {
  position: relative;
  z-index: 1;

  width: 37vw;
  height: 50vw;
  margin-left: 79vw;
}

.twenty {
  width: 41vw;
  margin-left: 11vw;
}

#second7 {
  position: relative;
  z-index: 3;

  margin-top: -30vw;
  margin-left: 59vw;

  border: none;
  background-color: black;
}

.fonts h3 {
  position: relative;
  z-index: 2;

  margin-top: 3vw;
  margin-left: 27vw;

  font-size: 6vw;
}

.fonts p {
  width: 37vw;
  margin-top: 9vw;
  margin-left: 27vw;
}

#first8 {
  margin-top: 5vw;
  margin-left: 71vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.fonts {
  margin-left: 6vw;
}

.font, .font2, .font3, .font4, .font5, .font6 {
  box-shadow: 1px 1px 50px -16px;
}

.font {
  width: 43vw;
  margin-top: -37vw;
  margin-left: 10vw;
}

.font2 {
  position: relative;
  z-index: 2;

  width: 41vw;
  margin-top: -29vw;
  margin-left: 59vw;
}

 .no3 img {
  width: 53vw;
  margin-top: -24vw;
}

.font4 {
  position: absolute;
  z-index: 3;

  width: 31vw;
  margin-top: -72vw;
  margin-left: 37vw;
}

.font5 {
  width: 41vw;
  margin-top: -48vw;
  margin-left: 59vw;
}

.font6 {
  width: 56vw;
  margin-top: -4vw;
  margin-left: 10vw;
}

.box6 {
  position: relative;
  z-index: 1;

  width: 36vw;
  height: 59vw;
  margin-top: -19vw;
  margin-left: 58vw;
}

.endfont .ten {
  position: relative;
  z-index: 2;

  width: 19vw;
  margin-top: 9vw;
  margin-left: 76vw;
}

.box7 {
  position: relative;
  z-index: 1;

width: 38vw;
  margin-top: -131vw;
}

.endfont .end {
  margin-top: 19vw;
}

.modohello h2 {
  margin-top: -49vw;
  margin-left: 12vw;
}

.modohello p {
  position: relative;
  z-index: 3;

  width: 29vw;
  margin-top: 17vw;
  margin-left: 61vw;
}

.twentyone {
  width: 30vw;
  margin-top: 29vw;
  margin-left: 13vw;
}

#second8 {
  position: relative;
  z-index: 3;

  margin-top: -16vw;
  margin-left: 66vw;

  border: none;
  background-color: black;
}

.whatitis h3 {
  margin-top: 4vw;
  margin-left: 22vw;
}

.whatitis p {
  width: 47vw;
  margin-top: 7vw;
  margin-left: 23vw;
}

.modo2 {
  position: relative;
  z-index: 1;

  width: 93vw;
  margin-top: 10vw;
}

.modo3 {
  position: absolute;
  z-index: 2;

  width: 42vw;
  margin-top: 37vw;
  margin-left: -40vw;
}

#second14 {
  position: absolute;
  z-index: 3;

  margin-top: -24vw;
  margin-left: 39vw;

  border: none;
  background-color: black;
}

.twentytwo {
  width: 36vw;
  margin-top: 13vw;
  margin-left: 8vw;
}

.development h3 {
  margin-top: -16vw;
  margin-left: 22vw;

}

.development p {
  width: 51vw;
  margin-top: 7vw;
  margin-left: 22vw;
}

#first9 {
  margin-top: 15vw;
  margin-left: 71vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.modo5 {
  width: 34vw;
  margin-top: 16vw;
  margin-left: 19vw;
}

.modo4 {
  position: absolute;

  width: 37vw;
  margin-top: 32vw;
  margin-left: -51vw;
}

.modo6 {
  position: absolute;

  width: 29vw;
  margin-top: 37vw;
  margin-left: 6vw;
}

.modo7 {
  position: absolute;

  width: 62vw;
  margin-top: 70vw;
  margin-left: -54vw;
}

.modo8 {
  position: absolute;

  width: 28vw;
  margin-top: 87vw;
  margin-left: 10vw;
}

.modo9, .modo10 {
  position: absolute;

  width: 100%;

  box-shadow: 1px 1px 50px -16px
}

.modo9 {
  margin-top: 154vw;
  margin-left: -53vw;
}

.modo10 {
  margin-top: 231vw;
  margin-left: -53vw;
}

.example3 {
  margin-top: -24vw;
}

.modo11 {
  width: 45vw;
  height: 157vw;
  margin-top: -63vw;
  margin-left: 55vw;
}

.development {
  margin-left: 4vw;
}

.endmodo .end {
  margin-top: 153vw;
}

.bookhello h2 {
  margin-top: -51vw;
  margin-left: 27vw;
}

.bookhello p {
  position: relative;
  z-index: 2;

  margin-top: 18vw;
  margin-left: 13vw;
}

.twentythree {
  width: 40vw;
  margin-top: 28vw;
  margin-left: 20vw;

  transform: rotate(10deg);
}

.idea {
  margin-left: -3vw;
}

.idea h3 {
  margin-top: 1vw;
  margin-left: 35vw;
}

.idea p {
  width: 41vw;
  margin-top: 8vw;
  margin-left: 35vw;
}

.book {
  position: relative;
  z-index: 2;

  width: 100%;
  margin-top: 16vw;
}

.book2 {
  position: relative;
  z-index: 1;

  width: 41vw;
  margin-top: -58vw;
  margin-left: 62vw;
}

.twentyfour {
  width: 30vw;
  margin-top: -32vw;
  margin-left: 10vw;
}

.kitchen h3 {
  position: relative;
  z-index: 2;

  margin-top: -19vw;
  margin-left: 26vw;

  font-size: 6vw;
}

.kitchen p {
  width: 35vw;
  margin-top: 8vw;
  margin-left: 26vw;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6vw;
  font-weight: 300;
  line-height: 2.3vw;
}

#second9 {
  position: absolute;
  z-index: 3;

  margin-top: -25vw;
  margin-left: 65vw;

  border: none;
  background-color: black;
}

#first10 {
  margin-top: 16vw;
  margin-left: 73vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

.book3 {
  width: 39vw;
  margin-left: -1vw;

  box-shadow: 1px 1px 50px -16px;
}

.book4 {
  position: absolute;

  width: 46vw;
  margin-top: 14vw;
  margin-left: 4vw;

  box-shadow: 1px 1px 50px -16px;
}

.book5 {
  position: absolute;

  width: 41vw;
  margin-top: -27vw;
  margin-top: 50vw;
  margin-left: -42vw;

  box-shadow: 1px 1px 50px -16px;
}

.book6 {
  position: absolute;

  width: 59vw;
  margin-top: 45vw;
  margin-left: 3vw;

  box-shadow: 1px 1px 50px -16px;
}

.book7 {
  position: relative;
  z-index: 2;

  width: 100vw;
  margin-top: 38vw;
  margin-left: -1vw;

  box-shadow: 1px 1px 50px -16px;
}

.book8 {
  position: relative;
  z-index: 1;

  width: 50vw;
  margin-top: -33vw;
}

.twentyfive {
  width: 43vw;
  margin-top: -35vw;
  margin-left: 29vw;
}

.bedroom h3 {
  margin-top: -18vw;
  margin-left: 53vw;


}
 .bedroom p {
  width: 33vw;
  margin-top: 8vw;
  margin-left: 53vw;
 }

#second10 {
  position: absolute;
  z-index: 3;

  margin-top: -22vw;
  margin-left: 73vw;

  border: none;
  background-color: black;
}

 #first11 {
   margin-left: 7vw;

   transform: rotate(90deg);

   border: none;
   background-color: black;
 }

.book9 {
  position: relative;
  z-index: 2;

  width: 44vw;
  margin-top: 19vw;

  box-shadow: 1px 1px 50px -16px;
}

.book10 {
  position: absolute;
  z-index: 2;

  width: 45vw;
  margin-top: 19vw;
  margin-left: 5vw;

  box-shadow: 1px 1px 50px -16px;
}

.book11 {
  position: absolute;
  z-index: 2;

  width: 54vw;
  margin-top: 63vw;
  margin-left: -5vw;

  box-shadow: 1px 1px 50px -16px;
  }

.book12 {
  position: absolute;
  z-index: 2;

  width: 52vw;
  margin-top: 72vw;
  margin-left: -46vw;

  box-shadow: 1px 1px 50px -16px;
}

.book13 {
  position: absolute;
  z-index: 1;

  width: 56vw;
  margin-top: 36vw;
}

.twentysix {
  width: 40vw;
  margin-top: 76vw;
}

.bathroom h3 {
  margin-top: -20vw;
  margin-left: 19vw;

}

.bathroom p {
  width: 35vw;
  margin-top: 7vw;
  margin-left: 18vw;
}

#second11 {
  position: absolute;
  z-index: 3;

  margin-top: -23vw;
  margin-left: 36vw;

  border: none;
  background-color: black;
}

.book14{
  width: 46vw;
  margin-top: 20vw;

  box-shadow: 1px 1px 50px -16px
}

.book15{
  position: absolute;

  width: 37vw;
  margin-top: 7vw;
  margin-left: 6vw;

  box-shadow: 1px 1px 50px -16px
}

.book16{
  position: absolute;
  z-index: 3;

  width: 60vw;
  margin-top: 55vw;
  margin-left: -6vw;

  box-shadow: 1px 1px 50px -16px
}

.book17{
  position: relative;
  z-index: 2;

  width: 100%;
  margin-top: 5vw;

  box-shadow: 1px 1px 50px -16px
}

.book18{
  position: relative;
  z-index: 1;

  width: 30vw;
  height: 77vw;
  margin-top: -2vw;
}

#first12 {
  margin-top: -51vw;
  margin-left: 35vw;

  transform: rotate(90deg);

  border: none;
  background-color: black;
}

#second13 {
  position: absolute;
  z-index: 3;

  margin-top: -15vw;
  margin-left: 70vw;

  border: none;
  background-color: black;
}

.twentyseven {
  width: 31vw;
  margin-top: 19vw;
  margin-left: 29vw;
}

.livingroom h3 {
  margin-top: -12vw;
  margin-left: 42vw;

}

.livingroom p {
  width: 34vw;
  margin-top: 9vw;
  margin-left: 42vw;
}

.book19{
  width: 100%;
  margin-top: 17vw;

  box-shadow: 1px 1px 50px -16px
}
.book20{
  width: 57vw;
  margin-top: -13vw;

    box-shadow: 1px 1px 50px -16px
}
.book21{
  position: absolute;

  width: 36vw;
  margin-top: 4vw;
  margin-left: 4vw;

  box-shadow: 1px 1px 50px -16px
}
.book22{
  position: absolute;

  width: 38vw;
  margin-top: 50vw;
  margin-left: 5vw;

  box-shadow: 1px 1px 50px -16px
}
.book23{
  width: 57vw;
  margin-top: 5vw;

  box-shadow: 1px 1px 50px -16px
}

.endbook {
  margin-top: -27vw;
}

.one-2 {
  display: none;
}

#min {
  display: none;
}


@media(max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .class {
      position: fixed;
      z-index: 5;

      font-size: 3.5vw;
  }

  header {
    position: fixed;
    z-index: 5;

        margin: -7vw 0;

    font-size: 3.5vw;
}
  .one {
    display: none;
  }
.one-2 {
  position: relative;
  z-index: 2;

  display: block;

  width: 82vw;
  margin-top: 11vw;
  margin-left: -1vw;

  box-shadow: 1px 1px 50px -16px;
}

h1 {
  display: none;
}

#min {
    z-index: 4;

    display: block;

    width: 45vw;
    margin-top: 65vw;
    margin-left: -3vw;
}

h2 {
    position: relative;
    z-index: 3;

    margin-top: -78vw;
    margin-left: 6vw;

    font-size: 8vw;
}

.hello p {
  width: 36vw;
  margin-top: -71vw;
  margin-left: 6vw;

  font-size: 2.3vw;
  line-height: 2.7vw;

}

#second {
    position: relative;
    z-index: 3;

    margin-top: -16vw;
    margin-left: 57vw;

    border: none;
    background-color: black;
}

.webposter {
      margin-top: -43vw;
}
.two {
  width: 32vw;
  margin-top: 72vw;
  margin-left: 7.4vw;
}
h3 {
    margin-top: 3vw;
    margin-left: 28vw;

    font-size: 9vw;
}

p {
    width: 62vw;
    margin-top: -135vw;
    margin-left: 27vw;

    font-size: 4vw;
    line-height: 4.7vw;
}

.link {
    position: relative;
    z-index: 2;

    margin-left: 27vw;

    font-size: 4vw;
}

.three {
    width: 87%;
    margin-top: 61vw;
    margin-left: 6vw;

    box-shadow: none;
}

#second1 {
    margin-top: 129vw;
    margin-left: 53vw;
}

#first2 {
    margin-top: -8vw;
    margin-left: 2vw;

    transform: rotate(90deg);

    border: none;
    background-color: black;
}

.four {
    width: 32vw;
    margin-top: -15vw;
    margin-left: 8vw;
}

.poster h3 {
    margin-top: -24vw;
    margin-left: 21vw;
}

.poster p {
    width: 61vw;
    margin-top: -152vw;
    margin-left: 22vw;
}

.link2 {
    margin-left: 23vw;

    font-size: 4vw;
}

.five {
    width: 70%;
    margin-top: 75vw;
    margin-left: 12vw;
}

.boxtwo {
    width: 60vw;
    margin-top: -9vw;
    margin-left: 0vw;
}

.poster {
margin-top: -32vw;
  margin-left: 5vw;
}

.sixs {
    position: relative;
    z-index: 3;

    width: 36vw;
    margin-top: 66vw;
    margin-left: 1vw;
}

.book h3 {
    margin-top: 3vw;
    margin-left: 28vw;

    font-size: 9vw;
}

#second2 {
    margin-top: -23vw;
    margin-left: 48vw;
}

.book p {
    width: 61vw;
    margin-top: -126vw;
    margin-left: 27vw;
}

.link3 {
    margin-left: 27vw;

    font-size: 4vw;
}

.box3 {
    position: absolute;
    z-index: 1;

    width: 53vw;
    margin-top: -149vw;
    margin-left: 62vw;

    transform: scale(-1, 1);
}

.seven {
    width: 83%;
    margin-top: 69vw;
    margin-left: 8vw;
}

.eight {
    width: 37vw;
    margin-top: 108vw;
    margin-left: 6vw;
}

.modo h3 {
    margin-top: 4vw;
    margin-left: 27vw;

    font-size: 9vw;
}

.modo p {
    width: 68vw;
    margin-top: -156vw;
    margin-left: 27vw;
}

.link4 {
    margin-left: 27vw;

    font-size: 4vw;
}

#second3 {
    position: relative;
    z-index: 3;

    margin-top: -23vw;
    margin-left: 43vw;

    border: none;
    background-color: black;
}

.nine {
    width: 70vw;
    margin-top: 66vw;
    margin-left: 15vw;
}

.modo br {
  display: none;
}

.endmodo br {
  display: block;
}

h5 {
width: 36vw;
}

#namecurate {
    width: 18vw;
    margin-top: -2.6vw;
}

.hello {
          margin-left: 10vw;
}

.end {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 21vw;
    margin-top: 130vw;

    opacity: .2;
    background-color: #C4C4C4;
}

footer {
  width: 117vw;
}

.eleven {
  display: none;
}

#curate {
    position: absolute;

    margin-top: -5.3vw;
    margin-left: 81vw;
}

.modo-2 {
    position: relative;
    z-index: 2;

    display: block;

    width: 82vw;
    margin-top: 11vw;
    margin-left: 8vw;

    box-shadow: 1px 1px 50px -16px;
}

.modo2 {
      margin-left: 8vw;
}

.modohello h2 {
    margin-top: -74vw;
    margin-left: 12vw;
}

.modohello p {
      width: 43vw;
      margin-top: 6vw;
      margin-left: 12vw;

      font-size: 3.3vw;
      line-height: 3.7vw;
  }

  #second8 {
      position: absolute;

      margin-top: -26vw;
      margin-left: 56vw;
  }

.twentyone {
    width: 39vw;
    margin-top: 62vw;
    margin-left: 6vw;
}

.whatitis h3 {
    width: 51vw;
    margin-top: -18vw;
    margin-left: 18vw;

    line-height: 10.5vw;
}

.whatitis p {
    width: 68vw;
    margin-top: 7vw;
    margin-left: 18vw;
}
.twentytwo {
    width: 36vw;
    margin-top: 12vw;
    margin-left: -1vw;
}
#second9 {
    position: absolute;
    z-index: 3;

    margin-top: -22vw;
    margin-left: 46vw;

    border: none;
    background-color: black;
}
.development h3 {
    width: 40vw;
    margin-top: -16vw;
    margin-left: 12vw;
}
.development p {
    width: 66vw;
    margin-top: 7vw;
    margin-left: 13vw;
}

.eleven {
  display: none;
}

.poster-2 {
  position: relative;
  z-index: 2;

  display: block;

width: 82vw;
  margin-top: 11vw;
  margin-left: 8vw;

  box-shadow: 1px 1px 50px -16px;
}

.modo11 {
    width: 65vw;
    height: 192vw;
    margin-top: -63vw;
    margin-left: 52vw;
}

.modo9 {
    width: 99vw;

}

.modo10 {
    width: 99vw;
        margin-top: 235vw;
}

.posterhello h2 {
    margin-top: -49vw;
    margin-left: 17vw;
}

.posterhello p {
    width: 57vw;
    margin-top: 9vw;
margin-left: 17vw;

font-size: 3.3vw;
line-height: 3.7vw;
}

.twelve {
    position: relative;
    z-index: 1;

    width: 35vw;
    margin-top: 56vw;
    margin-left: 9vw;
}

.search h3 {
    margin-top: 4vw;
    margin-left: 23vw;
}

.search p {
    width: 56vw;
    margin-top: 9vw;
    margin-left: 23vw;
}

.fourteen {
    width: 50vw;
    margin-top: 20vw;
    margin-left: 12vw;
}

#second5 {
    position: absolute;
    z-index: 3;

    margin-top: -31vw;
    margin-left: 63vw;

    border: none;
    background-color: black;
}

.final {
      margin-left: -5vw;
}
.final h3 {
    width: 20vw;
    margin-top: -24vw;
    margin-left: 24vw;
}

.final p {
    width: 75vw;
    margin-top: 9vw;
    margin-left: 24vw;
}

.figure2 {
    position: relative;
    z-index: 2;

    width: 46vw;
    margin-top: -28vw;
    margin-left: 71vw;
}

.fifteen {
    position: absolute;
    z-index: 3;

    width: 116vw;
    margin-top: -74vw;
        margin-left: -4vw;
}

.eighteen {
  display: none;
}
.poster-3 {
  position: relative;
  z-index: 2;

  display: block;

width: 82vw;
  margin-top: 11vw;
  margin-left: 8vw;

  box-shadow: 1px 1px 50px -16px;
}

.jobposter h2 {
    margin-top: -64vw;
    margin-left: 40vw;
}

.jobposter p {
    position: relative;
    z-index: 2;

    width: 38vw;
    margin-top: 5vw;
    margin-left: 41vw;

    font-size: 3.3vw;
    line-height: 3.7vw;
}

.nineteen {
    width: 44vw;
    margin-top: 77vw;
    margin-left: 28vw;

    transform: rotate(-31deg);
}

.graphic {
    margin-top: -18vw;
    margin-left: -24vw;

}

.graphic h3 {
    margin-top: -22vw;
    margin-left: 44vw;
}

#second6 {
    position: absolute;
    z-index: 3;

    margin-top: -27vw;
    margin-left: 98vw;

    border: none;
    background-color: black;
}

.graphic p {
    width: 63vw;
    margin-top: 10vw;
    margin-left: 44vw;
}

#first7 {
    margin-top: -84vw;
    margin-left: 105vw;

    transform: rotate(90deg);

    border: none;
    background-color: black;
}

.box4 {
    position: relative;
    z-index: 1;

    width: 37vw;
    height: 105vw;
    margin-left: 92vw;
}

.graph1 {
    position: relative;
    z-index: 2;

    width: 70vw;
    margin-top: -1vw;
}

.graph2 {
    position: relative;
    z-index: 2;

    width: 53vw;
    margin-top: -77vw;
    margin-left: 47vw;
}

.graph4 {
    position: absolute;
    z-index: 2;

    width: 38vw;
      margin-top: -32.8vw;
}

.graph6 {
    position: relative;
    z-index: 3;

    width: 50vw;
    margin-top: 6.7vw;
margin-left: 31vw;
}

.graph7 {
    position: relative;
    z-index: 2;

    width: 24vw;
    margin-top: -44vw;
}

.graph5 {
    position: absolute;
    z-index: 4;

    width: 40vw;
    margin-top: 15vw;
    margin-left: 69vw;
}

.graph8 {
    position: relative;
    z-index: 2;

    width: 71vw;
    height: 57vw;
    margin-top: -39vw;
margin-left: 31vw;
}

.twenty {
    width: 47vw;
    margin-left: 11vw;
}

.fonts h3 {
    position: relative;
    z-index: 2;

    margin-top: 3vw;
    margin-left: 27vw;

    font-size: 9vw;
}

#first6 {
    margin-top: 11vw;
    margin-left: 77vw;

    transform: rotate(90deg);

    border: none;
    background-color: black;
}

#second7 {
    position: relative;
    z-index: 3;

    margin-top: -30vw;
    margin-left: 75vw;

    border: none;
    background-color: black;
}

.fonts p {
    width: 60vw;
    margin-top: 9vw;
    margin-left: 27vw;
}
.box6 {
    position: relative;
    z-index: 1;

    width: 53vw;
    height: 59vw;
    margin-top: -19vw;
    margin-left: 58vw;
}

.fonts {
      margin-left: -3vw;
}

.font {
        position: relative;
            z-index: 2;

    width: 73vw;
    margin-top: -27vw;
        margin-left: 0vw;
}

.font2 {
    position: relative;
    z-index: 2;

    width: 41vw;
    margin-top: -29vw;
    margin-left: 59vw;
}

.no3 img {
    position: relative;
    z-index: 1;

    width: 69vw;
    margin-top: -23vw;
    margin-left: 7vw;
}

.font4 {
    position: absolute;
    z-index: 3;

    width: 41vw;
    margin-top: -70vw;
    margin-left: 59vw;
}

.font5 {
    position: relative;
    z-index: 4;

    width: 45vw;
    margin-top: 6vw;
    margin-left: 0vw;
}

.font6 {
    position: absolute;

    width: 48vw;
    margin-top: -5vw;
    margin-left: 7vw;
    /* z-index: 3; */
}

#first8 {
    margin-top: 29vw;
    margin-left: 71vw;

    transform: rotate(90deg);

    border: none;
    background-color: black;
}
.eleven {
  display: none;
}

.book-2 {
  position: relative;
  z-index: 2;

  display: block;

width: 82vw;
  margin-top: 11vw;
  margin-left: 8vw;

  box-shadow: 1px 1px 50px -16px;
}

.bookhello h2 {
    margin-top: -71vw;
    margin-left: 27vw;
}

.bookhello p {
    width: 43vw;
    margin-top: 5vw;
    margin-left: 27vw;

    font-size: 3.3vw;
    line-height: 3.7vw;
}

.idea {
    margin-top: -14vw;
    margin-left: -12vw;
}

.twentythree {
    width: 47vw;
    margin-top: 70vw;
    margin-left: 12vw;

    transform: rotate(10deg);
}

.idea h3 {
    margin-top: -21vw;
    margin-left: 35vw;
    /* width: 20vw; */
}

.idea p {
    width: 71vw;
}

#second8 {
    position: absolute;

    margin-top: -26vw;
    margin-left: 81vw;
}

.book {
    width: 101vw;
    margin-top: 16vw;

}

.book2 {
    position: relative;
    z-index: 1;

    width: 41vw;
    margin-top: -57vw;
    margin-left: 79vw;
}

.twentyfour {
    width: 38vw;
    margin-top: -35vw;
    margin-left: 10vw;
}

.kitchen {
      margin-left: -5vw;
}
.kitchen h3 {
    position: relative;
    z-index: 2;

    margin-top: -24vw;
    margin-left: 31vw;

    font-size: 9vw;
}

.kitchen p {
    width: 55vw;
    margin-top: 8vw;
    margin-left: 31vw;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4vw;
    /* font-weight: 300; */
    line-height: 4.7vw;
}

#second14 {
    position: absolute;
    z-index: 3;

    margin-top: -28vw;
    margin-left: 50vw;

    border: none;
    background-color: black;
}

#first10 {
    margin-top: 7vw;
    margin-left: 73vw;

    transform: rotate(90deg);

    border: none;
    background-color: black;
}

.book3 {
    width: 101vw;
    margin-top: 26vw;
    /* margin-left: 14vw; */

    box-shadow: 1px 1px 50px -16px;
}

.book4 {
display: none;
}

.book5 {
    position: absolute;
    z-index: 3;

    width: 67vw;
    margin-top: -26vw;
    margin-top: -25vw;
    margin-left: 33vw;

    box-shadow: 1px 1px 50px -16px;
}

.book5 {
    position: absolute;
    z-index: 3;

    width: 45vw;
    margin-top: -27vw;
    margin-top: 6vw;
    margin-left: 49vw;

    box-shadow: 1px 1px 50px -16px;
}

.book7 {
    position: relative;
    z-index: 2;

    width: 61vw;
    margin-top: 6vw;
    margin-left: -1vw;

    box-shadow: 1px 1px 50px -16px;
}

.book6 {
    position: absolute;
    z-index: 2;

    width: 82vw;
    margin-top: 44vw;
    margin-left: 18vw;

    box-shadow: 1px 1px 50px -16px;
}

.twentyfive {
    position: relative;
    z-index: 2;

    width: 49vw;
    margin-top: -32vw;
    margin-left: 13vw;
}

.bedroom {
  margin-top: 18vw;
margin-left: -20vw;
}

.bedroom h3 {
    margin-top: -23vw;
    margin-left: 47vw;
}

#second10 {
    position: absolute;
    z-index: 3;

    margin-top: -27vw;
    margin-left: 78vw;

    border: none;
    background-color: black;
}

.bedroom h3 {
    margin-top: -23vw;
    margin-left: 47vw;
}

.bedroom p {
    width: 65vw;
    margin-top: 8vw;
    margin-left: 47vw;
}

.book10 {
    position: absolute;
    z-index: 2;

    width: 52vw;
    margin-top: 22vw;
    margin-left: 5vw;

    box-shadow: 1px 1px 50px -16px;
}

.book11 {
    position: absolute;
    z-index: 2;

    width: 77vw;
    margin-top: 72vw;
    margin-left: -13vw;

    box-shadow: 1px 1px 50px -16px;
}

.book12 {
    position: absolute;
    z-index: 2;

    width: 52vw;
    margin-top: 80vw;
    margin-left: -44vw;

    box-shadow: 1px 1px 50px -16px;
}

.book13 {
    position: absolute;
    z-index: 1;

    width: 62vw;
    margin-top: 36vw;
}

.twentysix {
    position: relative;
    z-index: 2;

    width: 51vw;
    margin-top: 111vw;
    margin-left: -7vw;
}

.bathroom {
margin-top: -15vw;
  margin-left: 5vw;
}

.bathroom h3 {
    margin-top: -27vw;
    margin-left: 19vw;
}

#second11 {
    position: absolute;
    z-index: 3;

    margin-top: -30vw;
    margin-left: 45vw;

    border: none;
    background-color: black;
}

.bathroom p {
    width: 70vw;
    margin-top: 7vw;
    margin-left: 18vw;
}

.book15 {
    position: absolute;
    z-index: 4;

    width: 47vw;
    margin-top: 42vw;
    margin-left: 6vw;

    box-shadow: 1px 1px 50px -16px;
}

.book16 {
    position: absolute;
    z-index: 3;

    width: 103vw;
    margin-top: 85vw;
    margin-left: -47vw;

    box-shadow: 1px 1px 50px -16px;
}

.book17 {
    position: relative;
    z-index: 3;

    width: 76vw;
    margin-top: 57vw;

    box-shadow: 1px 1px 50px -16px;
}

.book18 {
    position: absolute;
    z-index: 1;

    width: 30vw;
    height: 77vw;
    margin-top: 84vw;
    /* margin-right: 20vw; */
    margin-left: -76vw;
}

#first12 {
    margin-top: -5vw;
    margin-left: 72vw;

    transform: rotate(90deg);

    border: none;
    background-color: black;
    /* margin-left: 87vw; */
}

.twentyseven {
    width: 31vw;
    margin-top: 19vw;
    margin-left: 15vw;
}

.livingroom h3 {
    margin-top: -12vw;
    margin-left: 24vw;
}

#second13 {
    position: absolute;
    z-index: 3;

    margin-top: -15vw;
    margin-left: 65vw;

    border: none;
    background-color: black;
}

.livingroom p {
    width: 58vw;
    margin-top: 9vw;
    margin-left: 25vw;
}
.livingroom {
      margin-top: 15vw;
      margin-left: -3vw;

}

.book19 {
    width: 117vw;
    margin-top: 17vw;

    box-shadow: 1px 1px 50px -16px;
}

.book21 {
    position: absolute;

    width: 47vw;
    margin-top: 4vw;
    margin-left: 5vw;

    box-shadow: 1px 1px 50px -16px;
}

.book22 {
    position: absolute;

    width: 38vw;
    margin-top: 65vw;
    margin-left: 5vw;

    box-shadow: 1px 1px 50px -16px;
}
}
